<ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
      <ion-row>
          <ion-col class="col">
              <div>
                  <ion-item>
                      <ion-label position="stacked">Username*</ion-label>
                      <ion-input placeholder="Enter your Mobile No."></ion-input>
                  </ion-item>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
