@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('fonts/PoppinsSemiBold.eot');
    src: url('fonts/PoppinsSemiBold.eot') format('embedded-opentype'),
         url('fonts/PoppinsSemiBold.woff2') format('woff2'),
         url('fonts/PoppinsSemiBold.woff') format('woff'),
         url('fonts/PoppinsSemiBold.ttf') format('truetype'),
         url('fonts/PoppinsSemiBold.svg#PoppinsSemiBold') format('svg');
}
