.toollogo {
  height: 100%;
  max-width: 100px;
  float: left;
}

ion-toolbar {
  --background: url(../../assets/images/title_background.png) no-repeat center center / cover;
  --color: #fff;
  ion-title {
    max-width: 200px;
    float: left;
  }
}
ion-content {
  --background: url(../../assets/images/background.png) no-repeat center center / cover;
  --color: #fff;
}

ion-item {
  --background: rgba(0, 0, 0, 0.1);
}
ion-label,
.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h,
ion-input {
  color: #fff;
}
.ezfoodlog {
  margin-top: 20px;
}

.rstbtn{
    max-width: 150px;
}

ion-grid{
    margin-top: 200px;
}