<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="titlename"> Password reset</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="formrow">
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Email*</ion-label>
            <ion-input placeholder="Enter your Email"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ezfoodlog">
      <ion-col class="col">
        <div class="d-flex justify-content-center ">
          <ion-button class="rstbtn" color="success">
            <ion-icon slot="start" name="refresh"></ion-icon>
            Reset
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>