.toollogo{
    height: 100%;
    max-width: 100px;
    float: left;
}

ion-toolbar{
    --background:#ff7a29;

    ion-title{
        
        max-width: 200px;
        padding-top: 15px;
        float: left;
        
    }
    
}
