<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" href="/menu">
                <ion-icon class="icn" slot="start" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Your Cart</ion-label>
        </ion-list-header>
        <ion-item *ngFor='let i of tempCart'>{{i.name}}
            <div slot="end">
                Rs. {{i.price}}
            </div>
        </ion-item>
    </ion-list>


    <ion-list class="totallist">
        <!-- <ion-item>
            Sub Total
        </ion-item>-->
        <ion-item>
            Total :<div slot="end">
                Rs. {{totalPrice}}
            </div>
        </ion-item>
    </ion-list>


    <div class="footer">
        <ion-button (click)="placeOrder()" color="success" class="btn btnlist btn-block">
            PLACE ORDER
        </ion-button>
    </div>
</ion-content>