.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.totallist{
    margin-top: 40px;
    font-weight: bold;
}

.btnlist{
    height: 70px;
}

ion-toolbar{
    --background:#ff7a29;
}

.icn{
    width: 35px;
    height: 35px;
}