.toollogo{
    height: 100%;
    max-width: 100px;
    float: left;
}

.toolimg{
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
}

.abtdiv{
    margin-top: 20px;
    
}

.logbtn{
    width: 100%;
    max-width: 160px;
}
a{
    font-size: 12px;
    color: black;
}
.sociallogs{
    margin-top: 30px;
}
.ezfoodlog{
    margin-top: 20px;
}
.createacnt{
    width: 100%;
    max-width: 335px;
}

ion-toolbar{
    --background:#ff7a29;

    ion-title{
        
        max-width: 200px;
        padding-top: 15px;
        float: left;
        
    }
    
}

.formrow{
    margin-top: 30px;
}

a{
    font-size: 14px;
}

.acolor{
    color: #ff7a29;
    text-align: center;
}