.toollogo{
    height: 100%;
}

.toolimg{
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
}

.abtdiv{
    margin-top: 20px;
}

h4{
    margin-top: 0;
}

h6{
    margin: 0;
}

ion-toolbar{
    --background:#ff7a29;
}

ion-label{
    font-weight: bold;
    
}