<ion-header>
  <ion-toolbar>
    <div class="toollogo">
      <img class="toolimg" src="../../assets/images/Food-Wallpaper.jpg" alt="smalllogo">
    </div>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ABOUT US
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="abtdiv">
    <ion-row>
      <ion-col class="col">
        <div>
          <h4 class="text-center font-weight-bold">"Everything for the betterment of our Customer"</h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero deserunt, iure in, eligendi esse
            neque assumenda deleniti tempora maiores atque unde! Illo ex dolores rem sunt amet maxime. Nobis dolores
            iusto sit, est molestiae aperiam consequuntur amet modi hic accusamus? Quos, qui! Esse non asperiores
            laborum, quis, porro corrupti quod fugiat sed alias voluptatibus omnis ducimus voluptate, suscipit
            assumenda? Dolorum, harum quasi officiis, adipisci, maiores temporibus quos accusamus beatae aspernatur
            dignissimos optio vitae dolorem odio accusantium amet iusto commodi.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div>
          <h4 class="text-center font-weight-bold">Contact Us</h4>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="text-center contactdiv">
         <h6>Hotline : 0112 456456</h6>
         <h6>Email : kzonfood@hotmail.com</h6>
         <h6>Location : Katubedda,Moratuwa,Sri Lanka.</h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>