
.toolimg{
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
}

.abtdiv{
    margin-top: 20px;
}

h4{
    margin-top: 0;
}

h6{
    margin: 0;
}
ion-toolbar{
    --background: url(../../assets/images/title_background.png) no-repeat center center / cover;
    --color: #fff;

    ion-title{
        
        max-width: 200px;
        padding-top: 15px;
        float: left;
        
    }
    
}
ion-content {
    --background: url(../../assets/images/background.png) no-repeat center center / cover;
    --color: #fff;
  }