.toollogo{
    height: 100%;
    max-width: 100px;
    float: left;
}

.toolimg{
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
}

ion-card{
    margin: 0;
}

h3{
    margin: 0;
}

ion-toolbar{
    --background:#ff7a29;

    ion-title{
        
        max-width: 200px;
        padding-top: 15px;
        float: left;
        
    }
    
}


    


    
