<ion-header>
    <ion-toolbar>
      <div class="toollogo">
        <a href="/home"><img  class="toolimg" src="../../assets/images/Food-Wallpaper.jpg" alt="smalllogo"></a>
      </div>
      <ion-title>
        <div class="titlename"> RESTAURANTS</div>
       
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div>
        <ion-searchbar color="tertiary" placeholder="Search restaurant"></ion-searchbar>
    </div>

    <ion-grid fixed>
      <ion-row>
        <ion-col class="col">
          <div>
              <ion-card>
                  <img src="../../assets/images/outlet.jpg" alt="outlet">
              </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="col">
          <div>
            <h3>Shop NAme</h3>
            <p>p Lorem ipsum dolor sit amet.</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="col">
            <div>
                <ion-card>
                    <img src="../../assets/images/outlet.jpg" alt="outlet">
                </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col">
            <div>
              <h3>Shop NAme</h3>
              <p>p Lorem ipsum dolor sit amet.</p>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>