<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MANAGER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button class="mgrbtns" color="success">
          Add Cashiers
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          View Cashiers
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="mgrbtns" color="success">
          Add items
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          View items
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button class="mgrbtns" color="success">
          Add offers
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          View offers
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>