<ion-header>
    <ion-toolbar>
      <div class="toollogo">
        <a href="/home"><img  class="toolimg" src="../../assets/images/Food-Wallpaper.jpg" alt="smalllogo"></a>
      </div>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        PRIVACY POLICY
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid fixed class="abtdiv">
        <ion-row>
          <ion-col class="col">
            <div>
              <h4 class="text-center font-weight-bold">Our Policy</h4>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col">
            <div>
              <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero deserunt, iure in, eligendi esse
                neque assumenda deleniti tempora maiores atque unde! Illo ex dolores rem sunt amet maxime. Nobis dolores
                iusto sit, est molestiae aperiam consequuntur amet modi hic accusamus? Quos, qui! Esse non asperiores
                laborum, quis, porro corrupti quod fugiat sed alias voluptatibus </p> 
                
               <p> omnis ducimus voluptate, suscipit
                assumenda? Dolorum, harum quasi officiis, adipisci, maiores temporibus quos accusamus beatae aspernatur
                dignissimos optio vitae dolorem odio accusantium amet iusto commodi.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
