.toollogo {
  height: 100%;
  max-width: 100px;
  float: left;
}

.toolimg {
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
}

.qtybtn {
  width: 150px;
}

ion-button {
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btnlist {
  height: 70px;
}

ion-toolbar {
    --background: url(../../assets/images/title_background.png) no-repeat center center / cover;
    --color: #fff;
  ion-title {
    max-width: 200px;
    float: left;
  }
}
.itemqty {
  float: right;
  --background: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

.itemqty:hover {
  --background: rgba(255, 255, 255, 0.85);
  --color: #000;
}

ion-content {
    --background: url(../../assets/images/background.png) no-repeat center center / cover;
    --color: #fff;
  }
