<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="titlename"> {{userName}}</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-searchbar placeholder="Search restaurant"></ion-searchbar>
  </div>
<ion-list>
<ion-item *ngFor="let item of items" >
<ion-card >
    <ion-card-header>
      <ion-card-title>{{item.shopname}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="{{item.shoppic}}"/>
      <p>{{item.description}}</p>
    </ion-card-content>
    <ion-button (click)="loadMenu(item.shopid)" class="rest_btn">
      Go and Check
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-card>
  
</ion-item>
</ion-list>
</ion-content>