<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ADMIN
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button href="/addmanager" class="admin_btn" >
          Add Managers
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button href="/viewmanager" class="admin_btn" >
          View Managers
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>