.toolimg {
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
}

.abtdiv {
  margin-top: 20px;
}

h4 {
  margin-top: 0;
}

h6 {
  margin: 0;
}

ion-toolbar {
  --background: url(../../assets/images/title_background.png) no-repeat center center / cover;
  --color: #fff;
  ion-title {
    max-width: 200px;
    float: left;
  }
}

ion-label {
  font-weight: bold;
}

ion-grid {
  margin-top: 50px;
}
ion-content {
  --background: url(../../assets/images/background.png) no-repeat center center / cover;
  --color: #fff;
}

.admin_btn{
    float: right;
    --background: rgba(0, 0, 0, 0.7);
   
}

.admin_btn:hover{
    --background: rgba(255, 255, 255, 0.85);
    --color:#000;
}