<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" href="/menu">
          <ion-icon class="icn" slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col class="col">
      <div class="logindiv">
        <ion-item>
          <ion-label position="stacked">Item Name*</ion-label>
          <ion-input name="itemname" placeholder="Enter Item Name" [(ngModel)]='addFoodCredentials.itemname'>
          </ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col">
      <div class="logindiv">
        <ion-item>
          <ion-label position="stacked">Description*</ion-label>
          <ion-input name="description" placeholder="Enter the Description" [(ngModel)]='addFoodCredentials.description'>
          </ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col">
      <div class="logindiv">
        <ion-item>
          <ion-label position="stacked">Price*</ion-label>
          <ion-input name="price" placeholder="Enter your Last Name" [(ngModel)]='addFoodCredentials.price'>
          </ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col class="col">
          <div class="d-flex justify-content-center ">
            <ion-button color="success" (click)="addFood()">
              Add
            </ion-button>
          </div>
        </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
