<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" href="/menu">
          <ion-icon class="icn" slot="start" name="arrow-round-back"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="abtdiv">

    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">First Name*</ion-label>
            <ion-input name="firstname" placeholder="Enter your First Name" [(ngModel)]='addCashierCredentials.firstname'>
            </ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Last Name*</ion-label>
            <ion-input name="lastname" placeholder="Enter your Last Name" [(ngModel)]='addCashierCredentials.lastname'>
            </ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Email*</ion-label>
            <ion-input name="email" placeholder="Enter your Email" [(ngModel)]='addCashierCredentials.email'></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Mobile Number*</ion-label>
            <ion-input name="mobileno" placeholder="Enter your Mobile No." [(ngModel)]='addCashierCredentials.mobileno'>
            </ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Username*</ion-label>
            <ion-input name="password" placeholder="Enter your Username" [(ngModel)]='addCashierCredentials.username'>
            </ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col">
        <div class="logindiv">
          <ion-item>
            <ion-label position="stacked">Password*</ion-label>
            <ion-input type='password' name="password" placeholder="Enter your Password"
              [(ngModel)]='addCashierCredentials.password'></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ezfoodlog">
      <ion-col class="col">
        <div class="d-flex justify-content-center ">
          <ion-button color="success" (click)='register()'>
            Add 
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>